.navbar ul {
  list-style: none;
  display: flex;
  width: 20%;
  justify-content: space-around;
}
.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background: #333;
  height: 6vh;
  font-weight: 600;
  align-items: center;
}
.navLink {
  text-decoration: none;
  color: aliceblue;
}
